@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
    --cor1: #F2055C;
    --cor2: #011F26;
    --cor3: #04D9D9;
    --cor4: #59D936;
    --cor5: #59D936;

    --font-padrao: 'Nunito', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
}

#banner {
    width: 100%;
    filter: blur(2px);
    display: block;
    margin: auto;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    position: absolute;
    border-radius: 50px;
    padding-bottom: 5px;
    transform: translate(-50%, -50%);
}

nav {
    background-image: url('../imagens/nav-background.jpg');
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    text-align: center;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.171);
}

nav > a {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    margin: 10px;
    margin-right: 20px;
    color: var(--cor4);
}

a:hover {
    color: var(--cor1);
    transition: .5s;
}

main {
    background-color: #FEF7FA;
    margin: 0px 500px 3px 100px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);

}

.titulo {
    font-family: var(--font-padrao);
    font-size: 30px;
    color: white;
    padding: 20px;
    margin: 70px 500px 3px 100px;
    background-color: var(--cor1);
    max-height: 150px;
}

.widget-discord {
    position: relative;
    top: -550px;
    margin-left: 900px;
    max-height: 300px;
}

p {
    font-family: var(--font-padrao);
    line-height: 30px;
    padding: 20px 20px 0px 20px;
    margin: auto;
}

.redes {
    position: relative;
    top: -600px;
    font-family: var(--font-padrao);
    font-size: 30px;
    color: white;
    padding: 20px;
    margin: 76px 80px 3px 900px;
    background-color: var(--cor1);
}

.redessociais {
    position: relative;
    top: -640px;
    background-color: #FEF7FA;
    margin: 30px 80px 0px 900px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
}

#youtube {
    width: 105px;
    height: 105px;
}

#discord {
    width: 90px;
    height: 90px;
    margin: 6px;
}

#twitter {
    width: 85px;
    height: 85px;
    margin: 10px;
}